<body>
<div class ="wrap">
 <form (ngSubmit)="onLogIn()">
  <h1 style="text-align: center">WELCOME</h1>
  <hr>
  <div class= "input-container">
    <label>Username: </label>
    <input type="text"  name="uname" [(ngModel)]="data.username">
    <!--<label *ngIf="data.username == ''" style= color:red>Enter username</label>-->
  </div>
  <div class = "input-container">
    <label>Password: </label>
   
    <input type="text"  name="pwd" [(ngModel)]="data.password">
    <!--<label *ngIf="data.password == ''" style= color:red>Enter password</label>-->
  </div >
  <div class = "button-login">
      <!-- <label *ngIf="isEmpty == true" style= color:red>You forgot something</label>-->
      <br>
       <!--<label style= color:red>Wrong username or password</label>-->
      <br>
    <button (click)="testNavigate()" type="submit"  style="visibility: visible">Login</button>


    
    
    <!--routerLink="/admin"-->
    
   
  </div>
  </form>
</div>
</body>