<mat-progress-bar mode="determinate" [value]="value1"></mat-progress-bar>
<button type= "submit" [(ngModel)]="value1">Press</button>

<hr>
 <mat-button-toggle [value]="10">Test toggle </mat-button-toggle>


<hr>
<h1>Not working</h1>
<p>number1</p>
<input type ="text" ng-model="number1">
<p>number2</p>
<input type ="text" ng-model="number2">
<br>  
<button type = "submit">OK</button>



<p>Vysledek: </p>
<mat-radio-group>
  <mat-radio-button value="1">Odečti </mat-radio-button>
  <mat-radio-button value="2">Sečti </mat-radio-button>
</mat-radio-group>